<div>
    <a routerLink="/product/{{idRoute}}">Create product</a>
</div>
<div *ngIf="prod" class="card">
    <ng-container *ngFor="let item of prod">
        <div class="bord">
            <h1 class="card-title">{{item.label}}</h1>
            <img *ngIf="item.picture" src="{{serverUrl}}/uploads/{{item.picture}}" alt="">
            <p> {{item.description}} </p>
            <p>{{item.basePrice}} €</p>

            <label for="lesOptions">Games:</label>
            <input type="text" id="lesOptions" list="item.id" (focus)="options(item.id)">
            <datalist id="item.id">
                <option *ngFor="let iten of option" value="{{iten.label}}"></option>
            </datalist> 
        </div>
    </ng-container>
</div>

<div *ngIf="!prod">
    Loading....
</div>